.post-list {
  &__item {
    --flow-space: #{get-size(700)};
    display: flex;
    justify-content: left;
    align-content: center;
    height: 100vh;
  }

  &__link {
    &,
    &:visited {
      color: var(--color-theme-primary);
      text-decoration: none;
    }

    &:hover {
      text-decoration: underline;
    }
  }

  &__item-txt {
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding-right: 5rem;
  }

  &__item-img {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
}

.archive {
  .post-list {
    &__item {
      height: auto;
    }
  }
}


@media (max-width: 767px) {
  .post-list {

  &__item {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  &__item-txt {
    padding-right: 0;
    padding-bottom: 3rem;
  }
  &__item-img {
    width: 100%;
  }
  }
}
