.site-head {
  background: var(--color-theme-highlight-block);
  position: fixed;
  width: 100%;
  z-index: 3;
  &__site-logo {
    display: flex;
  }
  &__site-name {
    @include apply-utility('font', 'serif');
    font-weight: 700;
    text-decoration: none;
    color: var(--color-text);
  }
  &__nav {
    display: flex;
    flex-direction: row;
  }
}
