.site-foot {
  // Reverse whatever the theme colors are
  // background: var(--color-bg-glare);
  color: var(--color-text);
  // border-top: 1px solid var(--color-stroke);
  text-align: center;
  a {
    color: currentColor;

    &:hover {
      text-decoration: none;
    }
  }

  &__credit {
    font-size: 0.8rem;
    color: var(--color-secondary)
  }
}
