{% if postListItems.length %}
  <section class="[ post-list ] [ pad-top-700 gap-bottom-900 ]">
      <ol class="[ post-list__items ] [ sf-flow ] [ pad-top-300 ]" reversed>
        {% for item in postListItems %}
          {% if item.date.getTime() <= global.now %}
            <li class="post-list__item [ inner-wrapper ] [ sf-flow ]">
              <div class="post-list__item-txt">
                <p>
                <time datetime="{{ item.date | w3DateFilter }}">{{ item.date | dateFilter }}</time>
                </p>
                <h2 class="[ intro__heading intro__heading--compact ] [ leading-tight ] [ p-name ]">
                  <a href="{{ item.url }}" class="post-list__link" rel="bookmark">{{ item.data.title }}</a>
                </h2>
                <p class="">
                {{ item.data.excerpt }}
                </p>
                {# if item.data.cover #}
            {# <div class="post-list__item-img"> #}
            {#  <a href="{{ item.url }}"> #}
            {#  <img src="{{ item.data.cover }}" alt="" /> #}
            {#  </a> #}
            {# </div> #}
                {# endif #}
              </div>
            </li>
          {% endif %}
        {% endfor %}
      </ol>
  </section>
{% endif %}
