{% extends 'layouts/base.njk' %}

{# Intro content #}
{% set introHeading = title %}
{% set heroImage = heroImg %}
{% set introSummary %}
  {{ content | safe }}
{% endset %}

{% block content %}
  <main id="main-content" class="[ home ]" tabindex="-1">
    {% include "partials/components/hero.njk" %}
  </main>
{% endblock %}
